div.auto_complete    {
     position         :absolute;
     width            :250px;
     background-color :white;
     border           :1px solid #fff;
     margin           :0px;
     padding          :0px;
} 
li.selected    { background-color: #fff; }
h2, .search {
    font-family: Ubuntu;
    font-size: 2em; 
}
    
